.thanks {
    position: relative;
}

.front {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8B7969;
    z-index: 10;
}

.back {
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 200px;
    color: #F4F4F4;
    z-index: 0;
}

button {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #8B7969;
    color: #F4F4F4;
    border: none;
    width: 90px;
    height: 30px;
    font-family: century;
    cursor: pointer;
}

